[user]
    name = Pedro Chambino
    email = pchambino@gmail.com

[core]
    editor = vim
    pager = less -FX
    whitespace = trailing-space,space-before-tab,tab-in-indent
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
    st = status -sb
    di = diff
    dc = diff --cached
    co = checkout
    ci = commit -v
    br = branch
    f = fetch
    ff = merge --ff-only
    fff = pull --ff-only
    sta = stash
    gla = log --graph --pretty=format:'%C(yellow)%h %C(green)%ad %C(blue)%an %C(red)%d%C(reset) %s' --date=relative --date-order --all
    gl = log --graph --pretty=format:'%C(yellow)%h %C(green)%ad %C(blue)%an %C(red)%d%C(reset) %s' --date=relative --date-order
    me = log --graph --pretty=format:'%C(yellow)%h %C(green)%ad %C(reset) %s' --date=relative --date-order --all --author='Pedro Chambino' --no-merges --since='6am'
    review = log -p --reverse -M -C -C --patience --no-prefix
    info = remote show origin

[push]
    default = current

[merge]
    stat = false
    defaultToUpstream = true
    ff = false

[rerere]
    enable = true
    autoupdate = true

[rebase]
    autosquash = true
    autostash = true
